lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.tmp
pids
logs
results

npm-debug.log
node_modules

config.*.js
!config.example.js
secrets.yml

/out/
/lib/*.js
/lib/*/*.js
/packrat/*.js
/packrat/*/*.js
/hashwick-server/static/compiled/
/hashwick-server/*.js
/hashwick-server/*/*.js
/hashwick-webapp/*.js
/hashwick-webapp/*/*.js
/hashwick-webapp/*/*/*.js
