$app-footer-border-color = $navbar-default-border

.app-footer
  background: linear-gradient(unquote('hsl(0, 0%, 5%)'), unquote('hsl(0, 0%, 10%)'))

.navbar-center
  &:not(:hover) .list-inline li
    & a
      color: darken($navbar-default-color, 20%)
  & .list-inline li
    & a
      color: $link-color
    &.active a
      color: lighten($navbar-default-color, 20%)

.data-source-icon
  opacity: 0.25
  &.active-flash
    opacity: 1
  &.active
    opacity: 0.7
    transition: opacity 200ms cubic-bezier(1, 0, 1, 0)
