$app-footer-height = 32px

main
  position: absolute
  left: 0
  right: 0
  top: $navbar-height
  bottom: $app-footer-height

tmp = "(max-width: " + $screen-sm-max + ") and (orientation: landscape)"
@media tmp
  body > footer
    display: none
  main
    bottom: 0

tmp = "(min-width: " + $grid-float-breakpoint + ")"
@media tmp
  .navbar-center
    position: absolute
    width: 100%
    text-align: center
    &:not(:hover) .list-inline li
      a
        color: lighten($navbar-default-color, 60%)
    & .list-inline li
      & a
        color: lighten($link-color, 25%)
      &.active a
        color: $navbar-default-color
        cursor: default
        &:hover
          text-decoration: none

.app-footer
  position: absolute
  bottom: 0
  width: 100%
  height: $app-footer-height
  border-top: 1px solid $app-footer-border-color
.app-footer-right
  @extend .list-inline
  float: right
  line-height: $app-footer-height - 1px
