.layout-editor-backdrop
  @extend $fill-container

.layout-editor-insert-bar
  position: absolute
  display: none
  width: 0
  height: 0
  &.active
    display: block

  insert-bar-size = 40px
  border: 0 solid transparent
  &.top, &.bottom
    border-left-width: insert-bar-size
    border-right-width: insert-bar-size
    > .content
      height: insert-bar-size
  &.top
    border-top-width: insert-bar-size
    > .content
      top: -(insert-bar-size)
  &.bottom
    margin-top: -(insert-bar-size)
    border-bottom-width: insert-bar-size

  &.left, &.right
    border-top-width: insert-bar-size
    border-bottom-width: insert-bar-size
    > .content-positioner, > .content
      display: inline-block
      vertical-align: middle
    > .content-positioner
      height: 100%
    > .content
      width: insert-bar-size
      margin-left: -(insert-bar-size)
  &.left
    border-left-width: insert-bar-size
  &.right
    margin-left: -(insert-bar-size)
    border-right-width: insert-bar-size
    > .content
      left: insert-bar-size

  > .content
    position: relative
    text-align: center
    font-size: insert-bar-size * 1.2
    line-height: insert-bar-size
    color: white
    > a
      &:hover
        text-decoration: none
