$pane-header-height = 2.2rem

.pane
  @extend $fill-container

.pane-header
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: $pane-header-height
  line-height: $pane-header-height
  padding: 0 0.3rem

.pane-title
  @extend .text-muted

.pane-buttons
  @extend .list-inline
  margin: 0
  padding: 0
  float: right
  a:hover
    text-decoration: none

.pane-body
  position: absolute
  left: 0
  top: $pane-header-height
  width: 100%
  bottom: 0

.view
  @extend $fill-container

tmp = "(max-width: " + $screen-sm-max + ") and (orientation: landscape)"
@media tmp
  .pane-header
    display: none
  .pane-body
    top: 0
