.pane-header
  border: 1px solid transparent
  border-bottom-color: $navbar-default-border
  background: linear-gradient(#ffffff, #f8f8f8)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075)
