!!! 5
meta(charset="utf-8")
title HashWick
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="icon" href="/favicon.png")
link(rel="stylesheet" href="/static/compiled/theme.bwhite.css")

header#app-header-navbar.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    .navbar-brand HashWick
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul#app-header-center.nav.navbar-nav.navbar-center
    ul#app-header-items.nav.navbar-nav.navbar-right

main Loading&hellip;

footer.app-footer
  ul#app-footer-icons.app-footer-right

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js")
script(src="/static/compiled/app.js")
!="<script>"
  | HashWick.run(
  !=  JSON.stringify(js_config)
  | );
!="</script>"
