!!! 5
meta(charset="utf-8")
title HashWick
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="icon" href="/favicon.png")

header.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    .navbar-brand HashWick
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul#app-header-center.nav.navbar-nav.navbar-center
    ul#app-header-items.nav.navbar-nav.navbar-right

main Loading&hellip;

footer.app-footer
  ul#app-footer-icons.app-footer-right

script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js")
script(src="/static/app.js")
script.
  HashWick.run();
