@font-face
  font-family: Raleway
  font-style: normal
  font-weight: 700
  src: url(http://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaIy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
@font-face
  font-family: Arimo
  font-style: normal
  font-weight: 400
  src: url(http://themes.googleusercontent.com/static/fonts/arimo/v5/BkZwJXYnumPMepfEA344yQ.ttf) format('truetype')
@font-face
  font-family: Arimo
  font-style: normal
  font-weight: 700
  src: url(http://themes.googleusercontent.com/static/fonts/arimo/v5/eFfAHNfFT0YtF77QmRKRj_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
@font-face
  font-family: Lora
  font-style: normal
  font-weight: 400
  src: url(http://themes.googleusercontent.com/static/fonts/lora/v5/4A-myfZX6oDr9CtSTkTGig.ttf) format('truetype')

$fill-container
  absolute: top left
  width: 100%
  height: 100%

body
  font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif

.nav-tabs
  margin-bottom: 1.5rem

.table tbody > tr > .table-buttons-cell
  width: 1px
  vertical-align: middle
  text-align: right
  white-space: nowrap

.table
  thead, tbody, tfoot
    > tr:first-child
      > th, > td
        border-top: 0

.modal
  overflow-y: auto

tmp = "screen and (min-width: " + $screen-tablet + ")"
@media tmp
  .modal-dialog
    width: auto
    max-width: 600px

.thumbnail.clickable
  cursor: pointer
.thumbnail.clickable:hover
  @extend a.thumbnail:hover
.thumbnail > .caption > h3:first-child
  margin-top: 10px
