/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

// Core variables and mixins
@import "../vendor/bootstrap-stylus/variables"
@import "../vendor/bootstrap-stylus/mixins"

// Reset
@import "../vendor/bootstrap-stylus/normalize"
@import "../vendor/bootstrap-stylus/print"

// Core CSS
@import "../vendor/bootstrap-stylus/scaffolding"
@import "../vendor/bootstrap-stylus/type"
//@import "../vendor/bootstrap-stylus/code"
@import "../vendor/bootstrap-stylus/grid"
@import "../vendor/bootstrap-stylus/tables"
@import "../vendor/bootstrap-stylus/forms"
@import "../vendor/bootstrap-stylus/buttons"

// Components
//@import "../vendor/bootstrap-stylus/component-animations"
@import "../vendor/bootstrap-stylus/glyphicons"
@import "../vendor/bootstrap-stylus/dropdowns"
//@import "../vendor/bootstrap-stylus/button-groups"
@import "../vendor/bootstrap-stylus/input-groups"
@import "../vendor/bootstrap-stylus/navs"
@import "../vendor/bootstrap-stylus/navbar"
//@import "../vendor/bootstrap-stylus/breadcrumbs"
//@import "../vendor/bootstrap-stylus/pagination"
//@import "../vendor/bootstrap-stylus/pager"
//@import "../vendor/bootstrap-stylus/labels"
//@import "../vendor/bootstrap-stylus/badges"
//@import "../vendor/bootstrap-stylus/jumbotron"
@import "../vendor/bootstrap-stylus/thumbnails"
//@import "../vendor/bootstrap-stylus/alerts"
//@import "../vendor/bootstrap-stylus/progress-bars"
//@import "../vendor/bootstrap-stylus/media"
//@import "../vendor/bootstrap-stylus/list-group"
//@import "../vendor/bootstrap-stylus/panels"
@import "../vendor/bootstrap-stylus/wells"
@import "../vendor/bootstrap-stylus/close"

// Components w/ JavaScript
@import "../vendor/bootstrap-stylus/modals"
//@import "../vendor/bootstrap-stylus/tooltip"
@import "../vendor/bootstrap-stylus/popovers"
//@import "../vendor/bootstrap-stylus/carousel"

// Utility classes
@import "../vendor/bootstrap-stylus/utilities"
//@import "../vendor/bootstrap-stylus/responsive-utilities"

// Theme
@import "../vendor/bootstrap-stylus/theme"

// Bugfix
.list-inline
  @extend .list-unstyled
