$chart-border-color = hsl(0, 0%, 75%)
$chart-gridline-color = $generic-dark-border
$chart-green-line = hsl(120, 90%, 40%)
$chart-green-fill = hsl(120, 90%, 25%)
$chart-red-line = hsl(0, 90%, 50%)
$chart-red-fill = hsl(0, 90%, 25%)
